.tab-selected{
  border-radius: 10px 10px 0% 0%;
  background-color: var(--secondary-background);
}

.tab-panel {
  background-color: var(--secondary-background);
  border-radius: 0% 10px 0% 0%;
}

.circle {
  background-color: var(--circle-color);
}

.circle:hover{
  background-color: var(--button-background);
}

.circle-selected{
  background-color: var(--button-background)
}

.tab-system {
  background-color: var(--secondary-background);
  border-radius: 0% 0% 10px 0%;
}

.system-item-active{
  background-color: var(--button-background) !important;
}

.system-item{
  background-color: var(--circle-color);
}

.left-end-system-item{
  background-color: var(--circle-color);
  border-radius: 5px 0% 0%  5px;
}

.right-end-system-item{
  background-color: var(--circle-color);
  border-radius: 0%  5px 5px 0%;
}

.plus-btn:hover{
  background-color: var(--button-background);
  border-width: 0;
}


.dot {
  height: 8px;
  width: 8px;
  justify-content: center;
  background-color: var(--price-color);
  border-radius: 50%;
  display: inline-block;
}

.outlined-dot {
  height: 8px;
  width: 8px;
  justify-content: center;
  background-color:transparent;
  border-width: 1px;
  border-radius: 50%;
  display: inline-block;
}
